.feed {
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

#feed-hr {
    margin: 0 15px;
    border: 1px solid gray;
}

@media (max-width: 280px) {
    .feed {
        max-width: 500px;
    }
    .feed__text {
        min-width: max-content;
        margin-right: 10px;
    }
}